
* {
  margin: 0;
  padding: 0;
}

.mainflex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 20px 20px 20px;
  gap: 20px;
}

.mainpart {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  gap: 10px;
}

.even {
  background-color: lightblue;
}
.odd {
  background-color: lightpink;
}

.subpart1 {
  display: grid;
  grid-template-columns: 200px 75px;
}
.subpart2 {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
}

.subpart3a {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 10px;
}


.omnipart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}
ol {
  list-style-type: square;
}

.mainpart1 {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 20px 20px 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.subpart-a {
  display: grid;
  width: 260px;
  grid-template-rows: auto;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
              0 2px 4px 1px rgba(0, 0, 0, 0.486);
}
.subpart-b {
  display: grid;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-template-columns: 40px 200px;
  align-items: center;
}
.imgmain {
  width: 260px;
  height: 260px;
  object-fit: cover;
}
.accname {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 900;
}
.imgsec {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50px;
}
button {
  border-style: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #2875a8;
  color: white;
  width: 100px;
  height: 30px;
}