

@font-face {
  font-family: 'ChirpRegular';
  src: url('Chirp-Font/ChirpRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ChirpHeavy';
  src: url('Chirp-Font/ChirpHeavy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  font-family: "ChirpRegular", "Verdana", Arial, sans-serif;
}
body {
  background-color: rgb(0, 0, 0);
  z-index: 1;
  color: white;
}
a {
  text-decoration: none;
  color: gray;
}

.main-flex {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: -80px;
}

.head-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 302.267px;
  height: 302.267px;
}

.head-right {
  display: flex;
  flex-direction: column;
}
.head-text {
  margin-top: 79px;
  margin-bottom: 60px;
  font-size: 75px;
  font-family: 'ChirpHeavy';
  display: inline-block;
  transform: scale(1, 0.85);
}
.subhead-text {
  font-size: 37px;
  margin-top: -20px;
  margin-bottom: 27px;
  transform: scale(1, 0.85);
  font-family: 'ChirpHeavy';
}

.main-buttons-tna {
  display: flex;
  flex-direction: column;
  margin-top: -2px;
  width: 300px;
}
.button-flex {
  display: flex;
  justify-content: center;
  border: 0.01px solid gray;
  align-items: center;
  width: 300px;
  height: 44px;
  border-radius: 30px;
  font-size: 15px;
}
.margin-apple {
  height: 38px;
  margin-top: 16px;
}
.button-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.flex-or {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -2px;
  margin-bottom: -2px;
  font-size: 15px;
}
.line {
  width: 130px;
  height: 0px;
  border-bottom: 1px solid gray;
  margin: 20px 0px;
}

.margin-create {
  margin-top: -2px;
  height: 38px;
}
.terms-and-agreements {
  color: gray;
  font-size: 11px;
  width: 300px;
  margin-top: 15px;
}
.terms-and-agreements a {
  color: rgb(47, 140, 228);
  text-decoration: none;
}
.invertmode {
  background-color: white;
  filter: invert(1);
  font-size: 15px;
  font-weight: 500;
}


.question-header {
  margin-top: 60px;
  font-family: 'ChirpHeavy';
}
.button-flex2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 21px;
}



.down-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 12px;
  margin-top: 60px;
}