
body {
  height: 3000px;
}

.flexheader {
  position: relative;
  z-index: 1;
  right: 100px;
}
.texthead {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.flexex {
  color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-right {     /*14A*/
  background-color: black;
  position: fixed;
  color: white;
  bottom: 20px;
  right: 20px;
}
.sidebar {          /*14B*/
  background-color: green;
  position: fixed;
  color: white;
  width: 100px;
  bottom: 0px;
  top: 0px;
  right: 0;
}
.allblack {         /*14C*/
  background-color: black;
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}