
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

img {
  width: 500px;
}

.aHead {
  margin: 80px 0px 80px 0px;
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 50px;
}

.getFlex {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

li {
  list-style: circle;
  margin-left: 30px;
}


/* border: 1px solid red; */
.socmed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.mainsection {
  width: auto;
}
.no1 {
  display: block;
}
.no2 {
  display: inline-block;
}

.subsection {
  width: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
              0 2px 4px 1px rgba(0, 0, 0, 0.486);
}
.firstPfp {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.name {
  font-weight: 800;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 3px;
}
.secondPfp {
  vertical-align: middle;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-left: 10px;
}
.mutuals {
  display: inline-block;
  margin-left: 1px;
  color: gray;
  font-size: small;
}
.addFriend {
  border-style: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #2875a8;
  color: white;
  width: 100px;
  height: 30px;
}