* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  font-family: Roboto, Arial;
}
body {
  height: 3000px;
  background-color: rgb(99, 99, 99);
}

.texthead {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridview {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: 300px 300px;
  justify-items: center;
}




.gridbackground {
  width: 1fr;
  background-color: rgb(185, 185, 185);
  display: flex;
  justify-content: center;
  
}
.flexdescmain {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.flexdescsub {
  display: flex;
}
.flexdot {
  margin-right: 10px;
  margin-left: 10px;
}
.flextext {
  width: 200px;
  margin-left: 5px;
}
.boldredunderlined {
  color: red;
  text-decoration: underline;
  font-weight: 800;
}



.flexresult {
  width: 330px;
  position: relative;
  z-index: 100;
}
.x {
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 190px;
  top: -11px;
  left: -11px;
}
.graybg {
  position: fixed;
  width: 320px;
  height: 180px;
  background-color: gray;
  bottom: 0;
  right: 0;
}
.flex15text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timestamp {
  position: absolute;
  color: white;
  background-color: black;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  right: 5px;
  bottom: 5px;
}


.flexshirt {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
.shirtcontainer {
  position: relative;
  display: inline-block;
}
.shirt {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.discount {
  position: absolute;
  background-color: black;
  color: white;
  padding: 4px 6px 4px 6px;
  top: 6px;
  right: 0;
}
.whitebg {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.671);
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
}
button {
  font-size: 10px;
  width: 70px;
  height: 30px;
  border-width: 1.5px;
}