/**/
* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

body {
  height: 3000px;
}

.flexheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.texthead {
  width: 250px;
}
.excerciselist {
  width: 210px;
}

.headerbar {                              /*14e*/
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 110px;
}
.catpic {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 25px;
}
.profile {
  display: flex;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.button1 {
  background-color: rgb(70, 128, 214);
  border-radius: 5px;
  border-style: none;
  color: white;
  width: 100px;
  height: 30px;
}
.button2 {
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
  border-style: none;
  color: black;
  width: 100px;
  height: 30px;
}

.sidebar {
  color: white;
  background-color: green;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100px;
  position: fixed;
}

.modalbg {                                /*14d.2, 14d.3*/
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal {                                  /*14d.4*/
  background-color: aliceblue;
  border-radius: 6px;
  width: 350px;
  padding: 10px;
}
.modaltitle {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.modaldescription {
  margin-bottom: 10px;
}
.modalbutton {
  width: 50px;
}

.dcsidebarinfo {                          /*14f*/
  background-color: rgb(61, 61, 61);
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 10px;
  width: 144px;
  position: fixed;
}
.infoheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.plussize {
  font-size: 20px;
}
.gray {
  color: gray
}
.whiteheader {
  color: white;
  font-size: 13px;
}
.infochannel {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dcsidebarpfp {
  background-color: rgb(41, 41, 41);
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: 40px;
  padding-top: 20px;
  width: 66px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.pfpimage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}