

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.searchbar{
  display: block;
}

.title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.thumbnail{
  width: 300px;
  display: block;
}


.video-preview{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.video-info {
  display: inline-block;
  width: 200px;
}
.author {
  margin-bottom: 4px;
}
.author, .metadata {
  font-size: 12px;
  color: rgb(96, 96, 96);
}



.profile-picture{
  width: 40px;
  border-radius: 50%;
}

.thumbnail-row {
  margin-bottom: 12px;
}