
.a8overview,
.b8overview,
.c8overview{
  display: flex;
  justify-content: start;
  background-color: aliceblue;
  grid-template-columns: repeat(2, 10fr);
  padding-left: 100px;
}
.a8description,
.b8description,
.c8description{
}
.a8block2{
}
.a8input-name, 
.a8input-email{
  display: flex;
  margin-top: 5px;
}


.c8google-img{
  width: 200px;
}